div.contact-container {
  position           : relative;
  top                : 0;
  margin             : 0 auto;
  width              : 100vw;
  height             : calc(100vh - 6rem);
  text-align         : center;
  overflow-y         : scroll;
  overflow           : -moz-scrollbars-none;
  -ms-overflow-style : none;
  transition         : 1s ease;
  scrollbar-width    : none;
  font-size          : .85rem;
  line-height        : 1.7;
  overflow-y         : scroll;
  &::-webkit-scrollbar { width : 0 !important }
  div.opacity-text-block {
    position : sticky;
    top      : 0;
    width    : 100%;
    height   : 25%;
  }
  div.contact-block {
    position   : absolute;
    text-align : center;
    top        : 0;
    margin     : 0 auto 20px;
    left       : 50%;
    transform  : translateX(-50%);
    width      : 80%;
    @media (min-width : 576px) {
      width : 70%;
    }
    @media (min-width : 768px) {
      width : 50%;
      top     : 100px;
      &:last-of-type { margin-bottom : 3rem; }
    }
    @media (min-width : 1280px) {
      padding : 0 5px;
      top     : 125px;
      width   : 30%;
    }
    h1 {
      overflow      : hidden;
      text-overflow : ellipsis;
    }
    div.contact-item-block {
      margin : 2rem 0;
      h2, h3, p { margin : 0 auto; }
      h3 {
        text-align    : center;
        font-size     : 1.4rem;
        font-weight   : 600;
      }
      p {
        overflow      : hidden;
        text-overflow : ellipsis;
        @media (max-width : 320px) {
          font-size      : .8rem;
          letter-spacing : 3.5px;
        }
      }
    }
  }
}
