div.founder-container {
  width              : 100%;
  height             : 100vh;
  overflow-y         : scroll;
  overflow           : -moz-scrollbars-none;
  -ms-overflow-style : none;
  transition         : 1s ease;
  scrollbar-width    : none;
  display            : flex;
  justify-content    : flex-end;
  flex-direction     : column;

  &::-webkit-scrollbar { width : 0 !important; }

  > div {
    height : calc(100vh - 7rem);
    width  : 85%;
    margin : 0 auto;

    @media (min-width : 576px) {
      height : calc(100vh - 14rem);
    }
  }

  div.founder-wrapper {
    overflow-y: scroll;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar { width: 0 !important; }
  }

  div.opacity-text-block {
    position : sticky;
    top      : 0;
    width    : 100%;
    height   : 25%;
  }

  div.founder-block {
    margin : 3rem auto;

    &:first-of-type { margin-top : 0; }

    &:last-of-type { padding-bottom : 50px; }

    @media (min-width : 576px) {
      width          : 60vw;
      padding-bottom : 0;
    }

    p.question {
      font-family   : 'Aileron-SemiBold', sans-serif;
      font-size     : .9rem;
      margin-bottom : .6rem;
    }
  }

  @media (min-width : 576px) {
    div.founder-block { width : 50%; }
  }
  @media (min-width : 768px) {
    div.founder-block { width : 40%; }
  }
  @media (min-width : 1280px) {
    div.founder-block { width : 40%; }
  }
}
