@import "../variables/variables";
div.gallery-container {
  position           : absolute;
  top                : 0;
  margin             : 0 auto;
  width              : 100%;
  height             : 100vh;
  overflow-y         : scroll;
  overflow           : -moz-scrollbars-none;
  -ms-overflow-style : none;
  transition         : 1s ease;
  &::-webkit-scrollbar { width : 0 !important }
  div.opacity-text-block {
    position : sticky;
    top      : 0;
    width    : 100%;
    height   : 25%;
  }
  div.gallery-block {
    z-index    : -1;
    position   : absolute;
    margin     : 0 auto 20px;
    left       : 50%;
    transform  : translateX(-50%);
    width      : 80%;
    text-align : center;
    &:last-of-type { margin-bottom : 50px; }
    @media (min-width : 576px) {
      width : 50%;
    }
    @media (min-width : 768px) {
      width : 40%;
    }
    @media (min-width : 1280px) {
      width : 30%;
    }
    div.gallery-item-block {
      &:first-of-type {
        margin-top : 0;
        & > h2 {
          margin-top : 50%;
        }
      }
      h2 {
        margin : 100% auto 30%;
      }
      h3, p {
        &:first-of-type {
          margin-top : 0;
        }
      }
      p {
        margin : 15% auto;
      }
      h3 {
        margin : 5% auto;
      }
      h2, h3 { font-family : 'Raleway', sans-serif; }
      h3 { text-align : center; }
      p { font-family : 'Montserrat', sans-serif; }
    }
  }
}

