body * {
  @media (min-width : 576px) {
    //letter-spacing : 5px;
  }
  @media (max-width : 576px) {
    .text-gradiant {
      -webkit-mask-image : -webkit-gradient(linear, left 10%, left top, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)));
    }
  }
}

main {
  height : 100vh;
}

.head-wrapper {
  position : relative;
  z-index  : 50;
  height   : 6rem;

  @media (min-width : 576px) {
    height : unset;
  }
}

.logo-wrapper {
  height   : 7rem;
  position : static;
  background: #080808;

  @media (min-width : 576px) {
    position : unset;
    height   : auto;
  }
}

.logo {
  position : absolute;
  top      : 20px;
  left     : 20px;
  z-index  : 40;
  cursor   : pointer;
  width    : 6.7rem;

  @media (min-width : 576px) {
    width : 14rem;
  }

  img {
    display : block;
    width   : 100%;
  }
}
