@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700|Raleway:300,400,500,600');

@font-face {
  font-family: 'Aileron-Thin';
  src: url('/static/fonts/Aileron-Thin.woff') format('woff');
}

@font-face {
  font-family: 'Aileron-UltraLight';
  src: url('/static/fonts/Aileron-UltraLight.woff') format('woff');
}

@font-face {
  font-family: 'Aileron-Light';
  src: url('/static/fonts/Aileron-Light.woff') format('woff');
}

@font-face {
  font-family: 'Aileron-Regular';
  src: url('/static/fonts/Aileron-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Aileron-SemiBold';
  src: url('/static/fonts/Aileron-SemiBold.woff') format('woff');
}
