@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700|Raleway:300,400,500,600');

@font-face {
  font-family: 'Aileron-Thin';
  src: url('/public/static/fonts/Aileron-Thin.woff') format('woff');
}

@font-face {
  font-family: 'Aileron-UltraLight';
  src: url('/public/static/fonts/Aileron-UltraLight.woff') format('woff');
}

@font-face {
  font-family: 'Aileron-Light';
  src: url('/public/static/fonts/Aileron-Light.woff') format('woff');
}

@font-face {
  font-family: 'Aileron-Regular';
  src: url('/public/static/fonts/Aileron-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Aileron-SemiBold';
  src: url('/public/static/fonts/Aileron-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'WorkSans-Black';
  src: url('/public/static/fonts/WorkSans-Black.woff') format('woff');
}

@font-face {
  font-family: 'WorkSans-Bold';
  src: url('/public/static/fonts/WorkSans-Bold.woff') format('woff');
}

@font-face {
  font-family: 'WorkSans-ExtraBold';
  src: url('/public/static/fonts/WorkSans-ExtraBold.woff') format('woff');
}

@font-face {
  font-family: 'WorkSans-ExtraLight';
  src: url('/public/static/fonts/WorkSans-ExtraLight.woff') format('woff');
}

@font-face {
  font-family: 'WorkSans-Light';
  src: url('/public/static/fonts/WorkSans-Light.woff') format('woff');
}

@font-face {
  font-family: 'WorkSans-Medium';
  src: url('/public/static/fonts/WorkSans-Medium.woff') format('woff');
}

@font-face {
  font-family: 'WorkSans-Regular';
  src: url('/public/static/fonts/WorkSans-Regular.woff') format('woff');
}

@font-face {
  font-family: 'WorkSans-SemiBold';
  src: url('/public/static/fonts/WorkSans-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'WorkSans-Thin';
  src: url('/public/static/fonts/WorkSans-Thin.woff') format('woff');
}
